#meme-text {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: -350px;
  position: absolute;
  -webkit-text-stroke: 1px black;
}

p {
  display: inline-block;
  font-size: 1em;
}
