* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: rgb(0 , 78 , 124);
  padding: 20px;
  margin-bottom: 20px;
}

#text-image-section {
  display: inline-block;
  margin-left: 15px;
}

#text-image-section span {
  margin-right: 10px;
  display: inline-block;
}

#meme-insert {
  margin-top: 5px;
}

#text-image-section div {
  margin: 10px 0;
}

#section {
  display: flex;
  justify-content: center;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

#meme-text {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  width: 380px;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  margin-bottom: 5px;
}

#meme-image {
  height: 400px;
  width: 400px;
}

#buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px 15px;
  width: 80px;
}

#fire {
  border: 3px dashed red;
  background-color: red;
}

#water {
  border: 5px double blue;
  background-color: blue;
}

#earth {
  border: 6px groove green;
  background-color: green;
}

#memes-prontos {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 20px;
  text-decoration: underline;
}

.meme {
  width: 100px;
  margin-right: 20px;
  margin-bottom: 20px;
}
