* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 243, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-input {
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

#meme-image-container {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid black;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#meme-image-container #meme-text {
  z-index: 2;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
