* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 20px;
}

#memes-container {
  position: absolute;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
}

.memes {
  height: 100px;
  width: 125px;
  cursor: pointer;
}

#meme-image-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  margin: 30px 0;
  height: 450px;
  width: 450px;
  border: 1px solid black;
}

#meme-text {
  width: 400px;
  position: absolute;
  word-wrap: break-word;
  align-self: flex-end;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image {
  width: 450px;
  height: 450px;
}

#button-section {
  display: flex;
  justify-content: space-evenly;
}

.avatar-button {
  height: 70px;
  width: 70px;
  border: 0;
  border-radius: 100%;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.avatar-button:hover {
  opacity: 1;
  height: 75px;
  width: 75px;
}

#fire {
  background-color: red;
  color: yellow;
}

#water {
  background-color: blue;
  color: aqua;
}

#earth {
  background-color: green;
  color: lightgreen;
}
