#meme-image {
    width: 640px;
    height: 640px;
    border: solid black 1px;
    position: absolute;
    z-index: 1;
}

#meme-text {
    position: absolute;
    z-index: 2;
    top: 600px;
    left: 30px;
}

