body {
  text-align: center;
}

#meme-image {
  width: 500px;
  height: 400px;
}

#meme-text {
  position: absolute;
  bottom: 0;
  left: 10px;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image-container {
  width: 500px;
  height: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
}
