#meme-image-container {
  max-width: 450px;
  height: 450px;
  border: black 1px solid;
  background-color: white;
  position: relative;
}

#meme-text {
  /* consultado a propriedade de sombra
  em : https://developer.mozilla.org/pt-BR/docs/Web/CSS/box-shadow */
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 300px;
  left: 20px;
}

#fire {
  border: 3px dashed red;
  width: 150px;
  background-color: red;
}

#water {
  border: 5px double blue;
  width: 150px;
  background-color: blue;
}

#earth {
  border: 6px groove green;
  width: 150px;
  background-color: green;
}

#minimemes {
  max-width: 700px;
  height: 300px;
}

#meme-1 {
  width: 160px;
}

#meme-2 {
  width: 160px;
}

#meme-3 {
  width: 160px;
}

#meme-4 {
  width: 160px;
  height: 170px;
}
