ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  background-color: green;
  color: white;
  margin-bottom: 1rem;
}

#meme-image-container {
  width: 500px;
  height: 500px;
  position: relative;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap-inputs {
  max-width: 610px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 100px;
  text-align: right;
}

li {
  margin-bottom: 10px;
}

#meme-text {
  font-family: monospace;
  position: absolute;
  bottom: 1%;
  font-size: 30px;
  color: white;
  text-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  max-width: 500px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

img {
  width: 100%;
  height: 100%;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#btns {
  margin: 0 auto;
  max-width: 400px;
  margin-top: 20px;
}

#btns button {
  padding: 10px 20px;
  color: white;
  font-size: 1.2em;
  margin-left: 10px;
}