* {
  margin: 0;
  padding: 0;
}

#meme-image-container {
  background-color: white;
  position: relative;
  display: table;
  width: 600px;
  height: 350px;
  border: 1px solid black;
  overflow: hidden;
}

#meme-image {
  display: block;
  width: 100%;
  height: 100%;
}

#meme-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  width: 80%;
  top: 270px;
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: black 5px 5px 5px;
}
