body {
  align-items: center;
  background-color: rgb(136, 136, 136);
  text-align: center;
}

#meme-image-container {
  margin-top: 20px;
  border: 1px solid black;
  background-color: white;
  height: 500px;
  width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#meme-text {
  text-shadow: 5px 5px 5px black;
  position: absolute;
  color: white;
  font-size: 30px;
  z-index: 99;
  bottom: 10px;
  word-break: break-all;
  text-transform: uppercase;
  left: 20px;
}

#meme-image {
  width: 400px;
  height: 500px;
  background-size: cover;
}
