body {
  text-align: center;
}

#meme-image-container {
  background-color: white;
  height: 380px;
  width: 380px;
  margin: auto;
  border: 1px solid black;
  position: relative;
}

#meme-image {
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#meme-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
  font-family: impact;
  font-size: 35px;
}