body {
  text-align: center;
}

#meme-image {
  width: 600px;
}

#meme-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#meme-image-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: solid black 1px;
}
