#meme-image {
  z-index: 0;
}

#meme-text {
  color: white;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  -webkit-text-stroke: 1px black;
  z-index: 1;
}

p {
  display: inline-block;
  font-size: 1em;
}
