.positioning {
  height: 250px;
  width: 250px;
}

#meme-image-container {
  background-color: white;
  border: 1px solid black;
  margin-top: 5px;
  position: relative;
}

#meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  top: -20px;
  width: 100%;
}
