#meme-image-container {
  width: 500px;
  height: 500px;
  position: relative;
  border: 1px solid black;
  background-color: white;
}

#meme-text {
  width: 100%;
  z-index: 2;
  color: white;
  overflow-wrap: break-word;
  position: absolute;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
}

#meme-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

#fire {
  border: 3px dashed red;
  background-color: red;
  color: white;
}

#water {
  border: 5px double blue;
  background-color: blue;
  color: white;
}

#earth {
  border: 6px groove green;
  background-color: green;
  color: white;
}

.meme-prepared-btn {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
