* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: rgb(0 , 78 , 124);
  padding: 20px;
  margin-bottom: 20px;
}

#text-image-section {
  display: inline-block;
  margin-left: 15px;
}

#text-image-section span {
  margin-right: 10px;
  display: inline-block;
}

#meme-insert {
  margin-top: 5px;
}

#text-image-section div {
  margin: 10px 0;
}

#meme-image-container {
  border: 1px solid black;
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 20px 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

#meme-text {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  top: 545px;
  width: 380px;
  color: rgb(39 , 39 , 39);
  text-align: center;
}

#meme-image {
  height: 400px;
  width: 400px;
}
