body {
  width: 100vw;
  height: 100vh;
  background-color: #c5c5c5;
  padding: 50px;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 50%
}

.input-section input[type="text"] {
  margin-bottom: 20px;
  font-size: 20px;
}

#meme-image-container {
  margin-top: 50px;
  background-color: red;
}

#meme {
  width: 500px;
  height: 500px;
  border: 1px solid #000000;
  position: relative;
  margin-top:50px;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#meme-text {
  position: absolute;
  bottom:0;

  margin-left: 10px;
  z-index:10;
  color:white;

  font-weight: bold;
  font-size: 28px;
}
