* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(250, 243, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-input {
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

#meme-image-container {
  background-color: rgb(131, 112, 112);
  width: 500px;
  height: 500px;
  display: flex;
}

#meme-image {
  width: 100%;
  height: 100%;
}

#meme-image-container #meme-text {
  z-index: 2;
  position: absolute;
}