* {
  margin: 0;
  padding: 0;
}

#meme-image-container {
  background-color: aqua;
  position: relative;
  display: table;
}

#meme-image {
  object-fit: cover;
  display: block;
}

#meme-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  width: 80%;
  top: 260px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px black;
}
