* {
  padding: 2px;
  border: 0;
  margin: 0;
}

#meme-image-container {
  padding: 10px;
  background-color: white;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin-top: 10px;
}

input {
  border: 1px solid;
  width: 150px;
  margin-left: 10px;
}

input::-webkit-input-placeholder {
  color: grey;
  font-size: 8px;
  text-align: center;
  font-style: italic;
  z-index: 1;
}

p {
  font-size: 30px;
  color: white;
  word-break: break-all;
  text-shadow: black 5px 5px 5px;
}
