#meme-image {
  z-index: 0;
}

#meme-text {
  color: white;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  text-shadow: black 5px, 5px, 5px;
  z-index: 1;
}

p {
  display: inline-block;
}
