#meme-image-container {
  max-width: 500px;
  height: 500px;
  border: black 1px solid;
  background-color: white;
  position: relative;
}

#meme-text { /* consultado a propriedade de sombra em : https://developer.mozilla.org/pt-BR/docs/Web/CSS/box-shadow */
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 300px;
  left: 20px;
}