* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  color: darkgreen;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

#meme-image-container {
  background-color: white;
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

#meme-text {
  position: absolute;
  font-size: 30px;
  left: 0;
  right: 0;
  top: 15%;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: sans-serif;
  font-weight: 900;
}

#fire {
  background-color: red;
}

.fire-style {
  border: 3px dashed red;
}

#water {
  background-color: blue;
}

.water-style {
  border: blue 5px double;
}

#earth {
  background-color: green;
}

.earth-style {
  border: groove green 6px;
}

#img-meme {
  margin: 8px auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

#img-meme img {
  max-width: 20%;
  max-height: 20%;
}

#container-btns {
  background: grey;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 12px;
}
