#meme-image-container {
  margin-top: 20px;
  border: 1px solid black;
  background-color: white;
  height: 500px;
  width: 400px;
}

#meme-text {
  text-shadow: 5px 5px 5px;
  color: white;
  font-size: 30px;
}