#meme-image-container {
  width: 500px;
  height: 500px;
  position: relative;
  border: 1px solid black;
  background-color: white;
}

#meme-text {
  width: 100%;
  z-index: 2;
  color: white;
  overflow-wrap: break-word;
  position: absolute;
  text-shadow: black 5px 5px 5px;
  font-size: 30px;
  font-color: white;
}

#meme-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
