#meme-image {
  height: 100%;

}

#meme-text {
  position: absolute;
  bottom: 10px;
  left: 10px;

  box-sizing: border-box;
}

#meme-image-container {
  background-color: white;
  position: relative;
  height: 640px;
  width: fit-content;
  border: solid blue 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
