body {
    text-align: center;
}

#meme-image {
    width: 600px;
}

#meme-text {
    position: absolute;
}

#meme-image-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
