* {
  margin: 0;
  padding: 0;
}

.top {
  line-height: 30px;
}

#meme-image-container {
  background-color: white;
  position: relative;
  display: table;
  width: 600px;
  height: 350px;
  border: 1px solid black;
  overflow: hidden;
}

#meme-image {
  display: block;
  width: 100%;
  height: 100%;
}

#meme-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  width: 80%;
  max-width: 80%;
  top: 270px;
  position: absolute;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(-50%);
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: black 5px 5px 5px;
  word-break: normal;
}

.borders-style {
  width: 600px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

#fire , #water , #earth {
  margin: 0 5px;
  width: 100px;
  height: 40px;
  background-color: white;
  display: table-cell;
}

#fire {
  border: 3px dashed red;
  background-color: red;
}

#water {
  border: 5px double blue;
  background-color: blue;
}

#earth {
  border: 6px groove green;
  background-color: green;
}

.images-memes {
  margin-top: 20px;
  width: 600px;
  text-align: center;
}

#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 100px;
}
